* {
  box-sizing: border-box;
  margin: 0 auto;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffa2c1;
  height: 100vh;
  width: 100vw;
}

@media (min-width: 769px) {
  .form__container {
    width: 100vw;
    height: 660px;
    display: flex;
    align-items: center;
  }
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 90vw;
}

@media (min-width: 769px) {
  .contact {
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 40px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}

.contact__title {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 32px;
  padding: 0 auto;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

@media (min-width: 769px) {
  .contact__title {
    font-size: 48px;
    line-height: 48px;
    margin: 0px 82px 0px 0px;
    padding: 0px;
  }
}

.label__text {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 13px;
  margin-bottom: 4px;
}

@media (min-width: 769px) {
  .label__text {
    margin: 0px 0px 5px 0px;
    padding: 0px;
  }
}
.textarea {
  margin-bottom: 60px;
  height: 113px;
  width: 90vw;
  border: none;
}

@media (min-width: 769px) {
  .textarea {
    width: 376px;
    margin: 0px 0px 60px 0px;
    padding: 0;
  }
}

.input-text {
  width: 90vw;
  margin-bottom: 20px;
  border: none;
}

@media (min-width: 769px) {
  .input-text {
    width: 376px;
    height: 45px;
    margin: 0px 0px 20px 0px;
    padding: 0;
  }
}

.button {
  height: 45px;
  width: 90vw;
  background-color: #fac1e0;
  color: #ffffff;
  font-size: 16px;
  border: none;
}

@media (min-width: 769px) {
  .button {
    width: 376px;
  }
}

.form {
  width: 100vw;
}

@media (min-width: 769px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 376px;
  }
}

.fieldset {
  width: 100vw;
}

@media (min-width: 769px) {
  .fieldset {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}

.space {
  display: none;
}

@media (min-width: 769px) {
  .space {
    display: block;
    width: 100vw;
    height: 160px;
    background-color: #ffa2c1;
  }
}
