* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Montserrat;
}

.footer__in {
  height: 500px;
  width: 100vw;
  background-color: #fdcfc7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 769px) {
  .footer__in {
    width: 100vw;
    height: 345px;
    display: flex;
    justify-content: center;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
}

@media (min-width: 769px) {
  .footer__container {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

.footer__title {
  font-size: 48px;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

@media (min-width: 769px) {
  .footer__title {
    margin: 0;
    width: fit-content;
    padding: 0;
  }
}

a {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}

.links {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Poppins;
  text-decoration: none;
}

.footer__logo {
  padding-left: 10px;
}

.links__container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media (min-width: 769px) {
  .links__container {
    height: 114px;
    width: fit-content;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 769px) {
  .null {
    width: 100vw;
    /*  border: rgb(204, 0, 0) solid 3px; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
