* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Montserrat, Poppins;
}

.works__container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  background-color: #ffa2c1;
}

.contenedor__portf {
  height: fit-content;
  width: 350px;
  margin-top: 170px;
}

.text__container {
  margin-bottom: 100px;
  text-align: center;
  font-size: 48px;
  color: white;
}

.portf__card {
  display: flex;
  flex-direction: column;
}

.portf__card__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 300px;
}

.port__img {
  object-fit: cover;
  width: 40%;
}

.card__title {
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.card__text__content {
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.card__link {
  color: #fdedc7;
  text-align: right;
  display: block;
  text-decoration: none;
}
