* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Montserrat, Poppins;
}

.works {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  background-color: #ffa2c1;
}

@media (min-width: 769px) {
  .works {
    display: flex;
    flex-direction: row;
    row-gap: 80px;
    column-gap: 190px;
    flex-wrap: wrap;
    height: max-content;
    width: 100vw;
    margin: 0;
    padding: 106px 80px 0px 80px;
  }
}

.portf__card__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 300px;
}

.portf__img {
  object-fit: cover;
  width: 290px;
  height: 170px;
}

@media (min-width: 769px) {
  .portf__img {
    width: 310px;
    height: 200px;
  }
}

.card__title {
  font-family: Poppins;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.card__text__content {
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .card__text__content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.card__link {
  color: #fdedc7;
  text-align: right;
  display: block;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.portf__title {
  font-size: 58px;
  font-weight: 700px;
  color: white;
  font-family: Montserrat;
  margin-top: 170px;
  margin-bottom: 105px;
}

.header__portfolio {
  display: none;
}

@media (min-width: 769px) {
  .header__portfolio {
    display: flex;
    width: 100vw;
    height: 655px;
    background-color: #ffafa1;
  }
}

.portfolio__header__title {
  color: white;
  position: absolute;
  width: 524px;
  height: 48px;
  left: 150px;
  top: 303px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 48px;
}

@media (min-width: 769px) {
  .portf__title {
    display: none;
  }
}

@media (min-width: 769px) {
  .null_portf {
    border: solid 3px black;
    display: none;
  }
}
