.services {
  height: fit-content;
  width: 100%;
  background-color: #ffafa1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 769px) {
  .services {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /*    display: grid;
    gap: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 190px 300px 0px 0px;
    margin: 0; */
  }
}

.services__title {
  font-size: 58px;
  font-weight: 700px;
  color: white;
  font-family: Montserrat;
  margin-top: 170px;
  margin-bottom: 105px;
}

@media (min-width: 769px) {
  .services__title {
    position: absolute;
    /*    top: 5%;
    right: 45%;
    margin: 0;
    padding: 0; */
  }
}

.services__card {
  height: auto;
  width: auto;
  margin-bottom: 120px;
  padding: 0;
}

/* @media (min-width: 769px) {
  .services__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 3px rgb(224, 2, 2);
  }
} */

.services__card__title {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.services__card__content {
  display: flex;
  flex-direction: column;
}

.services__card__description {
  font-family: "Poppins";
  font-weight: 400;
  font-weight: 16px;
  margin-top: 10px;
  height: 117px;
  width: 262px;
  text-align: center;
  color: white;
}

@media (min-width: 769px) {
  .services__card__description {
    font-size: 16px;
    line-height: 18px;
  }
}

.services__img {
  width: 380px;
  height: 250px;
}

@media (min-width: 769px) {
  .services__container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
